@model Hospital.Utilities.PagedResult<Hospital.ViewModels.ApplicationUserViewModel>

@{
    ViewData["Title"] = "User Index";
}

<h1>Users and Doctors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Is Doctor</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">City</th>
                <th scope="col">Gender</th>
                <th scope="col">Specialist</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Data)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.IsDoctor)</td>
                    <td>@Html.DisplayFor(modelItem => user.Name)</td>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => user.City)</td>
                    <td>@Html.DisplayFor(modelItem => user.Gender)</td>
                    <td>@Html.DisplayFor(modelItem => user.Specialist)</td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Edit</a>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@user.Id">Details</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
