@using Hospital.Models
@model Hospital.ViewModels.TimingViewModel

<form asp-action="addtiming" class="container mt-4">
    <div class="form-group mb-3">
        <label asp-for="Doctor" class="form-label"></label>
        <input asp-for="Doctor" class="form-control" />
        <div class="invalid-feedback">
            <span asp-validation-for="Doctor"></span>
        </div>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ScheduleDate" class="form-control" aria-required="true" type="date" />
        <label asp-for="ScheduleDate"></label>
        <div class="invalid-feedback">
            <span asp-validation-for="ScheduleDate"></span>
        </div>
    </div>

    <div class="form-floating mb-3">
        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-select">
            <option value="">Select Status</option>
        </select>
        <label asp-for="Status"></label>
        <div class="invalid-feedback">
            <span asp-validation-for="Status"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <select asp-for="MorningShiftStartTime" asp-items="@ViewBag.morningStart" class="form-select">
                    <option value="">Select Start Time</option>
                </select>
                <label asp-for="MorningShiftStartTime"></label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <select asp-for="MorningShiftEndTime" asp-items="@ViewBag.morningEnd" class="form-select">
                    <option value="">Select End Time</option>
                </select>
                <label asp-for="MorningShiftEndTime"></label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <select asp-for="AfternoonShiftStartTime" asp-items="@ViewBag.evenStart" class="form-select">
                    <option value="">Select Start Time</option>
                </select>
                <label asp-for="AfternoonShiftStartTime"></label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <select asp-for="AfternoonShiftEndTime" asp-items="@ViewBag.evenEnd" class="form-select">
                    <option value="">Select End Time</option>
                </select>
                <label asp-for="AfternoonShiftEndTime"></label>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
